.login-tip {
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 28px;
	color: #222;
}
.username {
	display: block;
	width: 200px;
	height: 50px;
	font-size: 30px;
	margin: 30px auto;
}
.enter {
	display: block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	margin: 0 auto;
	border-radius: 6px;
	text-align: center;
	background: #84ce1c;
}